body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.head   {
    background-color: #333;
    width: 100%;
    height: 20%;
    margin: 10px;
    font-size: 30px;
    padding: 20px;
    color: white;
    text-align: center;
}

.main {
    
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px !important;
    
}

.content {
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    margin-left: 33%;
    width: 650px;
    padding: 10px;
    align-items: center;
}

.content p {
    
    font-weight: bolder;
    font-size: 20px;
}

.detay {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.detay button {
    color: white;
    cursor: pointer;
    border-radius: 5px;
    height:20px;
    padding: 2px;
    margin: 10px;
    border-color: transparent;
    background-color: rgb(140, 202, 15)
    
}

.detay a {
    font-size:15px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(60, 60, 240);

}